<nav>
    <div class="site-title">
        <a class="site-logo" href="/">Gamer's Blog</a>
        <p>A site 4 die❤️gamers </p>
    </div>
    <ul>
        <li><a href="/">Blogs</li>
        <li><a href="/about">About</li>
         <li><a href="/blogs/create">New Blog</li>
    </ul>
</nav>