<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs')%>
    <div class="blogs content">
        <h2>About Us</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti fugiat quasi, amet asperiores laboriosam, corrupti expedita animi cum, mollitia distinctio similique! Deserunt temporibus perferendis fugiat, quaerat error dolor atque facere.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti fugiat quasi, amet asperiores laboriosam, corrupti expedita animi cum, mollitia distinctio similique! Deserunt temporibus perferendis fugiat, quaerat error dolor atque facere.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti fugiat quasi, amet asperiores laboriosam, corrupti expedita animi cum, mollitia distinctio similique! Deserunt temporibus perferendis fugiat, quaerat error dolor atque facere.</p>
    </div>
    <%- include('./partials/footer.ejs')%>
</body>
</html>

<!--LDYUr5BNiofUsFFy  -->